includes:
    - ../../phpstan/phpstan-doctrine/extension.neon
    - ../../phpstan/phpstan-phpunit/extension.neon
    - ../../phpstan/phpstan-phpunit/rules.neon
    - ../../phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/appDevDebugProjectContainer.xml

    excludes_analyse:
        - %rootDir%/../../../app/DoctrineMigrations
        - %rootDir%/../../../node_modules
        - %rootDir%/../../../src/Migrations
        - %rootDir%/../../../var
        - %rootDir%/../../../vendor
