includes:
    - lib.neon
    - ../../../phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/dev/srcApp_KernelDevDebugContainer.xml
